body{
    display: flex;
    flex-wrap: wrap;  
    background-size: contain;
    background-color: dimgrey;
}
.block{
    border: 2px;
    padding-right: 2px;
    margin-left: 450px;
    font-family: monospace;
    font-size: 3mm;
    margin-bottom: 10px;
}
.block img{
    width: 40%;
}
.main{
    border: 2px solid  black;
    background-color: cornsilk;
    width: 47%;
    float:left;
    margin-right: 50px;
}
.about{
    border: 2px solid black;
    background-color: cornsilk;
    float: right;
    width: 48%;
    
}
.hobbies{
    border: 2px ;
    margin-left: 450px;
}